[Desktop Entry]
Name=My Theme
Comment=SDDM theme by jzcurious
Type=X-SDDM-Theme

[SddmGreeterTheme]
MainScript=src/Main.qml
ConfigFile=theme.conf
QtVersion=6
